---
layout: default
---

<div class="home">
  {% if site.theme.header_text %}
  <div class="call-out" 
  style="background-image: url('{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}')">
    {{ site.theme.header_text }}
  </div>
  {% endif %}

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      <header>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h1>
        <p class="meta">
			{% assign m = post.date | date: "%-m" %}
			{{ post.date | date: "%-d" }}
			{% case m %}
			{% when '1' %}de enero de
			{% when '2' %}de febrero de
			{% when '3' %}de marzo de
			{% when '4' %}de abril de
			{% when '5' %}de mayo de
			{% when '6' %}de junio de
			{% when '7' %}de julio de
			{% when '8' %}de agosto de
			{% when '9' %}de septiembre de
			{% when '10' %}de octubre de
			{% when '11' %}de noviembre de
			{% when '12' %}de diciembre de
			{% endcase %}
			{{ post.date | date: "%Y" }}</p>
      </header>
      <div class="excerpt">
        {{ post.excerpt }}
        <a class="button" href="{{ post.url | prepend: site.baseurl }}">
          {{ site.theme.str_continue_reading }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme.str_prev }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
