---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
  </header>

         {% if page.screenshots %}
        <h1 class="page-heading" id="imagenes"><span>Galería de imágenes</span></h1>

        <div class="row">
            <div class="col-md-4" style="color:#777;">
                Publicadas:
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        {% for screenshot in page.screenshots %}
                        <div class="col-md-4 col-xs-6" style="padding: 4px;">
                            <a href="{{ screenshot }}" data-lightbox="gallery" data-title="Screenshot"><img src="{{ screenshot }}" style="width:100%;height:auto;"/></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endif %} 
  
  <section class="post-content">{{ content }}</section>
</article>
