---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
  </header>
  <section class="post-content">
    {% for screenshot in page.screenshots %}
    <img src="{{ screenshot }}"/>
    {% endfor %}
	
    <p align="center">
	{% if page.patch %}
		<a class="button" href="{{ page.patch }}">Descargar parche ({{ page.patch-ver }})</a>
    {% endif %}
	{% if page.patch_ips %}
		<input type="file" id="patchFileSelector" name="patchFileSelector" style="display:none;" />
		<a class="button" href="javascript:document.getElementById('patchFileSelector').click();">Parchear online ({{ page.patch-ver }})</a>

		<script src="/js/ips_patcher.js" type="text/javascript"></script>

		<script type="text/javascript">
			registerPatching(document.getElementById('patchFileSelector'), '{{ page.patch_ips }}', '{{ page.patch_ips_output_name }}', {{ page.patch_ips_crcs }});
		</script>
    {% endif %}
    {% if page.instructions %}
		<a class="button" href="{{ page.instructions }}">Instrucciones</a>
	{% endif %}
    {% if page.link %}
		<a class="button" href="{{ page.link }}">{{ page.link-name }}</a>
	{% endif %}
	</p>

	{{ content }}
    <h2 class="title">Noticias del proyecto</h1>
	{% for post2 in site.posts%}{% if post2.tags contains page.project_tag %}
		<li>
			<a href="{{ post2.url }}">{{ post2.title }}</a>
			- <span style="color:#aaa;">
			{{ post2.date | date: "%-d de %b de %Y" }}
			</span>
		</li>
	{% endif %}{% endfor %}
  </section>
  
</article>
